services:
  lynks_backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: lynks_backend:latest
    command: ["60000"]
    container_name: lynks_backend
    restart: unless-stopped
    ports:
      - "60000:60000"
    environment:
      # Lägg era riktiga envs här
      # EXAMPLE:
      # LOG_LEVEL: "info"
      TZ: "Europe/Stockholm"
    # Om ni behöver config/secret som filer:
    # volumes:
    #   - ./config:/app/config:ro