services:
  lynks_backend:
    build:
      context: ./network
      dockerfile: Dockerfile
    image: lynks_backend:latest
    container_name: lynks_backend
    depends_on:
      mysql:
        condition: service_healthy
      janus:
        condition: service_started
    ports:
      - "60000:60000"
    environment:
      TZ: "Europe/Stockholm"

      # VIKTIGT: Inne i docker-nätet ska du använda service-namn + containerport
      DB_HOST: "mysql"
      DB_PORT: "3306"     # INTE 3307 (3307 är host-port)
      DB_NAME: "lynks_db"
      DB_USER: "lynks_admin"
      DB_PASSWORD: "admin123"

      # Om backend pratar med Janus internt:
      JANUS_HOST: "janus"
      JANUS_PORT: "8188"
    command: ["60000"]
    restart: unless-stopped