services:
  mysql:
      build:
        context: ./mysql
      image: lynks-mysql:latest
      container_name: lynks-mysql
      environment:
        MYSQL_ROOT_PASSWORD: rootpassword
        MYSQL_DATABASE: lynks_db
      ports:
        - "3307:3306"   # host:container
      volumes:
        - mysql_data:/var/lib/mysql
      healthcheck:
        test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -prootpassword --silent"]
        interval: 5s
        timeout: 3s
        retries: 30
      restart: unless-stopped

volumes:
  mysql_data: